<div class="container">
    <div class="navbar-inner">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-lg">
        <a class="sidebar-brand mx-3 d-flex align-items-center justify-content-center">
          <div class="sidebar-brand-icon rotate-n-15">
              <i class="fa fa-fish" style="font-size: 35px;"></i>
          </div>
          <div class="sidebar-brand-text mx-3" style="font-size: 20px;"> Booker easy&peasy </div>
      </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="m-3 btn btn-dark btn-lg " [routerLink]="['/']">Home</button>
        </div>
  
        <div class="d-flex flex-row-reverse">
          <button class="m-3 btn btn-dark btn-lg " [routerLink]="['/login']">Login</button>
          <button class="m-3 btn btn-dark btn-lg " (click)="register()">Register</button>
        </div>
      </nav>
  
    </div>
  </div>