<mat-card *ngIf="offer" class="messagePreview">

    <div>
        <i class="bi bi-house-fill" style="height: 30px;margin-right:15px"></i>
        <label style="font-weight:bold;">Date From: </label>
        <label style="margin-left: 20px;margin-right: 20px;"> {{offer.reservationStartDate | date:'short' }}</label>
        <label style="font-weight:bold;">To: </label>
        <label style="margin-left: 20px;"> {{offer.reservationEndDate | date:'short'}}</label>
    </div>
    <div class="info col-6">
        <div>
            <label style="font-weight:bold;"> Offer ends in :</label>
            <label> {{ endsIn }} </label>
        </div>
        <div>
            <label style="font-weight:bold;"> People:</label>
            <label> {{offer.guests}}</label>
        </div>
        <div>
            <label style="font-weight:bold;"> Utilities:</label>
            <label *ngFor="let item of offer.utilities" style="margin-right: 4px;">{{item.name}}  </label>
        </div>
        <div>
            <label *ngIf="!offer.isCaptain" style="font-style: italic; color: blue;"> Captain will be present </label>
            
        </div>


    </div>
    <div>
        <label class="price">Price: {{offer.price}} <label class="dollar">$</label></label>
        
    </div>

    <button mat-raised-button color="primary">Book</button>
</mat-card>