<div id="wrapper">
    <app-home-owner-sidebar></app-home-owner-sidebar>
      <div id="content-wrapper" class="d-flex flex-column">
        <app-home-owner-topbar ></app-home-owner-topbar>
          <div class="container-fluid">
            <h1>{{home.name}}</h1>
  
              <div class="row">
  
                  <div  class="col-xl-8 col-lg-7">
                    <app-home-availability-calendar [home]="home" [newAv] = "newAv"></app-home-availability-calendar>
  
                  </div>
  
                  <div  style="padding-top: 72px;" class="col-xl-4 col-lg-5">
                      <h5>Add new available period</h5>
                      
                      
                        <form [formGroup]="aFormGroup" class="pb-2">
                          <mat-form-field appearance="fill">
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [min]="todayDate" [rangePicker]="picker">
                              <input  matStartDate formControlName="startDate" placeholder="Start date">
                              <input  matEndDate formControlName="endDate" placeholder="End date">
                            </mat-date-range-input>
                            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                          </mat-form-field>
                        </form>
                        
                      </div>
                      <div class="row">
                        <div class="col-md p-0">
                          <button type="button"
                          class="btn btn-outline-dark btn-w" (click)="addNew()">Add</button>
                        </div>
                        <div class="col-md p-0">
                          <button type="button"
                          class="btn btn-outline-dark btn-w" (click)="removePeriod()">Remove</button>
                        </div>
                        
                          
                      </div>
                  
              </div>
  
              <div class="row">
  
                  <div class="col-lg-6 mb-4">
  
                    <p>  </p>
                  </div>
  
                  <div class="col-lg-6 mb-4">
  
                    <p>   </p>
                  </div>
              </div>
  
      </div>
      </div>
   </div>
  
  