<mat-card>
    <div class="container-fluid">
        <div class="row py-2">
            <h1 style="text-align: center;"><i class="fa-solid fa-crown"></i> Loyalty program</h1>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 border-right">
                <div class="row d-flex justify-content-center" >
                    <h2 style="text-align: center;">Clients</h2>
                </div>
                <div class="row">
                    <div class="row p-2 pb-3">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                              <label>Min points</label>
                              <input [disabled]="false" type="text" class="form-control outline-silver" name="minPointsSC"  placeholder="Min points" [(ngModel)]="silverClient.minPoints">
                            </div>
                          </div>
                          <div class="col-md-6 pl-1">
                            <div class="form-group">
                              <label>Discount percentage</label>
                              <input [disabled]="false" type="text" class="form-control outline-silver" name="percentageSC" placeholder="Discount %" [(ngModel)]="silverClient.percentage">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                            <div class="row p-2">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                      <input [disabled]="false" type="text" class="form-control outline-gold" name="minPointsGC"  placeholder="Min points" [(ngModel)]="goldClient.minPoints">
                                    </div>
                                  </div>
                                  <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                      <input [disabled]="false" type="text" class="form-control outline-gold" name="percentageGC" placeholder="Discount %" [(ngModel)]="goldClient.percentage">
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="col-md-6 padd">
                <div class="row d-flex justify-content-center" >
                    <h2 style="text-align: center;">Advertisers</h2>
                </div>
                <div class="row">
                    <div class="row p-2 pb-3">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                              <label>Min points</label>
                              <input [disabled]="false" type="text" class="form-control outline-silver" name="minPointsSA"  placeholder="Min points" [(ngModel)]="silverAdvertiser.minPoints">
                            </div>
                          </div>
                          <div class="col-md-6 pl-1">
                            <div class="form-group">
                              <label>Earnings percentage</label>
                              <input [disabled]="false" type="text" class="form-control outline-silver" name="percentageSA" placeholder="Earnings %" [(ngModel)]="silverAdvertiser.percentage">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                            <div class="row p-2">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                      <input [disabled]="false" type="text" class="form-control outline-gold" name="minPointsGA"  placeholder="Min points" [(ngModel)]="goldAdvertiser.minPoints">
                                    </div>
                                  </div>
                                  <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                      <input [disabled]="false" type="text" class="form-control outline-gold" name="percentageGA" placeholder="Earnings %" [(ngModel)]="goldAdvertiser.percentage">
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center pb-5"> 
            <div class="col-sm-4">
                <div class="form-group d-flex flex-row f-1">
                    <label class="lbl">Website cut(%): </label>
                    <input style="width: 40%;" [disabled]="false" type="text" class="form-control col-sm-6" name="websiteCut" placeholder="Website cut %" [(ngModel)]="regularAdvertiser.percentage">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" (click)="save()">Save changes</button>
        </div>
    </div>
</mat-card>