<form  [formGroup]="changePass">
    <div class="d-flex justify-content-center">
      <h3>Change Password</h3>
    </div>
    <mat-form-field appearance="standard">
        <mat-label>Old password:</mat-label>
        <input matInput type="password" formControlName="oldPass">
    </mat-form-field>  
    <mat-form-field appearance="standard">
        <mat-label>New password:</mat-label>
        <input matInput type="password" formControlName="newPass">
    </mat-form-field>  
    <mat-form-field appearance="standard">
        <mat-label>Re-enter new password:</mat-label>
        <input matInput type="password" formControlName="reenter">
    </mat-form-field>  
    <br><br>
    <div class="justify-content-center d-flex">
      <button class="btn btn-primary" (click)="confirm()">Confirm</button>
    </div>
  </form>