mat-form-field {
    width: 100%;
    margin-left: 2px;
}



mat-form-field input {
    width: 100%;
    margin-left: 2px;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    color: black !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0px !important;
}


::ng-deep .mat-form-field-outline {
    color: black !important;
    border-radius: 4px 0px 0px 4px !important;
}

::ng-deep .mat-form-field-outline-thick {
    color: black !important;
}

.d-flex input {
    margin-left: 2px;
}