<div class="container">
    <app-unauthenticated-header></app-unauthenticated-header>
    <br><br>
    <div class="sections">
        <div class="searchSection">
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        </div>
        <br>
        <div class="displaySection">
            
            <div class="sectionOverflow">
                <app-profile-view [items]="currentItems" class="profile"></app-profile-view>
              

            </div>
            <div class="sectionMap">
               
                <img class="mapImg" src="../../../assets/images/tokyo-map.jpg"/>
            </div>
        </div>
    </div>
</div>