<div class="container-fluid h-100 d-flex justify-content-center p-0 pic">
        <div class="jumbotron my-auto mx-auto tabs">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="About"> 
                
                    <app-adventure-info [adventure]="adventure"></app-adventure-info>
                </mat-tab>
                <mat-tab label="Additional info"> 
                    <app-adventure-addtional-info [adventure]="adventure" ></app-adventure-addtional-info>
                </mat-tab>
                <mat-tab label="Location"> 
                    <app-adventure-location></app-adventure-location>
                </mat-tab>
                <mat-tab label="Additional Services"> 
                    <app-adventure-services [adventure]="adventure"></app-adventure-services>
                </mat-tab>
                <mat-tab label="Instructor"> 
                    <app-adventure-instructor [adventure]="adventure"></app-adventure-instructor>
                </mat-tab>
                <mat-tab label="Past adventures"> 
                    <div class="p-2">
                      <app-past-experiences></app-past-experiences>
                    </div>
                </mat-tab>
              </mat-tab-group>
        </div>
        <div >
           special offers
        </div>
</div>