.pic {
    background: #FFFFFF url("../../../../assets/images/Summer-Fishing.jpg") no-repeat center fixed;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.tabs {
    width: 80%;
    background-color: rgba(237, 242, 248, 0.664);
    margin-top: 5%;
}

.align-text {
    text-align: center;
}

.flex-dir {
    flex-direction: column;
}