<div class="container-fluid h-100 d-flex justify-content-center p-0 pic">
    <button  mat-button color="warn" class="custom" (click)="bookForClient()">Book adventure for a client</button>
        <div class="jumbotron mx-auto tabs">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="About"> 
                
                    <app-adventure-info [adventure]="adventure"></app-adventure-info>
                </mat-tab>
                <mat-tab label="Additional info"> 
                    <app-adventure-addtional-info [adventure]="adventure" ></app-adventure-addtional-info>
                </mat-tab>
                <mat-tab label="Location"> 
                    <app-adventure-location [adventure]="adventure"></app-adventure-location>
                </mat-tab>
                <mat-tab label="Additional Services"> 
                    <app-adventure-services [adventure]="adventure"></app-adventure-services>
                </mat-tab>
                <mat-tab label="Instructor"> 
                    <app-adventure-instructor [adventure]="adventure"></app-adventure-instructor>
                </mat-tab>
                <mat-tab label="Past adventures"> 
                    <div class="p-2">
                      <app-past-experiences [adventure]="adventure"></app-past-experiences>
                    </div>
                </mat-tab>
              </mat-tab-group>
        </div>
       <div class="justify-content-center d-flex flex-dir pt-5">
        <h2 *ngIf="adventure.specialOffers.length === 0" class="pb-1 align-text">No special offers available.</h2>
        <div  *ngIf="adventure.specialOffers.length > 0">
            <h2 class="pb-1 align-text">Special offers</h2>
        <div *ngFor="let offer of adventure.specialOffers">
            <app-adventure-special-offer [offer]="offer" class="p-3"></app-adventure-special-offer>
        </div>
        </div>
       </div>
        <br><br><br>
</div>