<div id="wrapper" class="container">
    <app-client-sidebar></app-client-sidebar>
    <div id="content-wrapper"  class="d-flex flex-column">
        <div class="searchCard">
            <app-client-search-card (doSearch)="search($event)"></app-client-search-card>
        </div>
        <div class="displaySection">
            <div class="sectionOverflow">
                <div *ngFor="let item of filteredItems">
                    <app-browse-card [name]="item.name" [description]="item.description" [address]="item.address"
                        [utilities]="item.utilities" [price]="item.pricePerDay" [rating]="item.rating" [id]="item.id"
                        [type]="boat" [ownerName]="item.owner.email"></app-browse-card>
                </div>
            </div>
        </div>
    </div>
</div>