<div class="my-5 is-clickable hvr-underline-from-center stretch-width" (click)="preview()">
    <article class="media shadow p-4">
      <figure class="media-left">
        <p class="image">
          <img  style="min-height: 100%; min-width:100%" src="{{baseUrl}}{{imageUrl}}" onerror="this.onerror;this.src='../../../../assets/images/no-img.png'" alt="Image not available">  
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <div>
            <p>
              <strong
                ><a href="{{ type }}/page/{{ id }}">{{ name }}</a></strong
              >
              <small *ngIf="ownerName">, @{{ ownerName }} </small>
              <br />
              {{ description | truncate: [200] }}
            </p>
  
            <div >
              <strong *ngIf="address"><i class="fa fa-map-marker"></i> {{ address.street }}, {{ address.city }},
                {{ address.country }}, {{ address.zipCode }}</strong>
              <h4 *ngIf="price">${{ price }}/day</h4>
            </div>
          </div>
          <div class="columns is-vcentered">
            
            <div
              class="column is-flex is-justify-content-flex-end is-align-items-center"
            >
              <strong class="mr-1 star-text">{{ rating }} </strong>
              <i class="fa fa-star"></i>
              <div class="buttons ml-5">
                <button mat-raised-button color="primary" (click)="preview()">See More</button>
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  