<div id="wrapper">
    <app-admin-sidebar></app-admin-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-admin-topbar (searchInput)="handleMe($event)"></app-admin-topbar>
        <div class="container-fluid">

            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Boats</h1>
               
            </div>

            <div class="row">
                <div *ngFor="let boat of boats | boatSearch : searchText" >
                    <app-boat-preview [boat]="boat" 
                    (boatDeleted)="boatDeleted($event)"></app-boat-preview>
                </div>
            </div> 
        </div>
    </div>
 </div>