 <div id="wrapper">
    <app-instructor-sidebar></app-instructor-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-instructor-topbar></app-instructor-topbar>
        <div class="container-fluid">

            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                        class="fa fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>

            <div class="row">

              <p>ide nesto ovde </p>
            </div>


            <div class="row">

                <div style="background-color: blue;" class="col-xl-8 col-lg-7">
                    <p> i ovde nesto </p>
                </div>

                <div  style="background-color: yellow;" class="col-xl-4 col-lg-5">
                    <p>i ovde isto</p>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-6 mb-4">

                  <p> juhuuu </p>
                </div>

                <div class="col-lg-6 mb-4">

                  <p>  ovakooo </p>
                </div>
            </div>

    </div>
    </div>
 </div>

