<app-unauthenticated-header></app-unauthenticated-header>
<router-outlet></router-outlet>
<div style="margin-top: 100px;" class="row">
	<div class="col-md-6 offset-md-3 mt-4">
		<h3>Login</h3>
		<form #f="ngForm" (ngSubmit)="onSubmit(f)">
			<div class="form-group">
				<input type="text" name="email" ngModel required #userName="ngModel" class="form-control"
					id="loginEmail" placeholder="Enter email">
			</div>
			<div style="margin-top: 10px" class="form-group">

				<input type="password" name="password" ngModel required #password="ngModel" class="form-control"
					id="loginPassword" placeholder="Password">
			</div>

			<div>
				<button type="submit" [disabled]="f.invalid" style="margin-top: 10px" class="btn btn-primary">Login <i
						class="fas fa-sign-in-alt"></i></button>

			</div>

		</form>
	</div>
</div>