<h3 *ngIf="noAvalilableClient">There is not an ongoing event. 
    You can create reservation only for clients on ongoing events.</h3>
  <form *ngIf = "!noAvalilableClient">
      <div class="cont">
        <main class="justify-content-center"><h3>Create reservation for {{ chosenClient.firstName }}</h3></main>
        <aside *ngIf="displayDiscount"><i class="fa-solid fa-tags"></i>&nbsp;{{ discount }}% OFF! </aside>

    </div>
        
        <mat-form-field appearance="standard">
          <mat-label>Home</mat-label>
          <mat-select [formControl]="home" (selectionChange)="homeChosen()" [(ngModel)]="selectedHome" >
            <mat-option *ngFor="let b of homes" [value]="b">{{b.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-label>Reservation date</mat-label>
        <mat-form-field>
          <mat-label>start:</mat-label>
          <input matInput type="date" [formControl]="reservationStartDate" (change)="resDateChosen();;updatePrice()" >
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Number of days:</mat-label>
            <input matInput type="number" min="1"  [formControl]="numOfDays" (change)="resDateChosen();updatePrice() " >
          </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Additional services</mat-label>
          <mat-select [formControl]="servi" (selectionChange)="updatePrice()" [(ngModel)]="services" multiple>
            <mat-select-trigger>
              {{services?.[0]?.name || ''}}
              <span *ngIf="(services?.length || 0) > 1"  class="example-additional-selection">
                (+{{(services?.length || 0) - 1}} {{services?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let e of selectedHome.utilities"  [value]="e">{{e.name}}, {{ e.price}}e </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Price:</mat-label>
          <input  matInput  [formControl]="price" required readonly>
        </mat-form-field>
          <mat-form-field *ngIf="priceWDiscount != 0" appearance="standard">
            <mat-label>Price with clients rank discount:</mat-label>
          <input matInput [(ngModel)]="priceWDiscount" name="priceWDiscount" required readonly>
        </mat-form-field>
        <br>
        <div class="justify-content-center d-flex">
          <button class="btn btn-primary" (click)="create()">Book now</button>
        </div>
      </form>