<!-- <div style="width: 1100px; height: 100vh;"> -->
<div>
      <mat-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="info">
          <form [formGroup]="info">
            <ng-template matStepLabel>Info</ng-template>
            <mat-form-field appearance="standard">
              <mat-label>Title</mat-label>
              <input matInput placeholder="Adventure title" formControlName="title" required>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Description</mat-label>
                <textarea  matInput placeholder="Adventure Description" formControlName="description" required></textarea>
            </mat-form-field>
            <div class="d-flex">
                <mat-form-field appearance="standard">
                    <mat-label>Price per person</mat-label>
                    <input matInput  type="number" min="0" placeholder="" formControlName="price" required>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Max participants</mat-label>
                    <input matInput type="number" min="0" formControlName="maxPersons" required>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Cancellation percentage</mat-label>
                    <input matInput type="number" min="0" max="100" placeholder="" formControlName="cancellationPercentage" required>
                    <span matSuffix>%</span>
                </mat-form-field>
            </div>

            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="additional" label="Additional info" optional>
          <form [formGroup]="additional">
                <mat-form-field appearance="standard">
                    <mat-label>Fishing equipment</mat-label>
                    <mat-select [formControl]="equi" [compareWith]="compareObjects" [(ngModel)]="equipment" multiple>
                      <mat-select-trigger>
                        {{equipment?.[0]?.name || ''}}
                        <span *ngIf="(equipment?.length || 0) > 1" class="example-additional-selection">
                          (+{{(equipment?.length || 0) - 1}} {{equipment?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let e of existingEquipment" [value]="e">{{e.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="standard">
                    <mat-label>Additional services</mat-label>
                    <mat-select [formControl]="servi" [compareWith]="compareObjects" [(ngModel)]="services" multiple>
                      <mat-select-trigger>
                        {{services?.[0]?.name || ''}}
                        <span *ngIf="(services?.length || 0) > 1" class="example-additional-selection">
                          (+{{(services?.length || 0) - 1}} {{services?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let e of existingServices" [value]="e">{{e.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="location" label="Location" optional>
          <form [formGroup]="location">
                <mat-form-field appearance="standard">
                    <mat-label>Street</mat-label>
                    <input matInput formControlName="street" placeholder="">
                </mat-form-field>
                <div class="d-flex">
                    <mat-form-field appearance="standard">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" placeholder="">
                    </mat-form-field>
                    <mat-form-field appearance="standard">
                        <mat-label>Country</mat-label>
                        <input matInput formControlName="country" placeholder="">
                    </mat-form-field>
                    <mat-form-field appearance="standard">
                      <mat-label>Zip code</mat-label>
                      <input matInput formControlName="zipCode" placeholder="">
                  </mat-form-field>
                </div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
          </form>
        </mat-step>
       
        <mat-step [stepControl]="additional" label="Code of conduct" optional>
          <form [formGroup]="conduct">
            <mat-form-field appearance="standard">
              <mat-label>Code of conduct</mat-label>
              <mat-select [formControl]="rul" [compareWith]="compareObjects" [(ngModel)]="rules" multiple>
                <mat-select-trigger>
                  {{rules?.[0]?.name || ''}}
                  <span *ngIf="(rules?.length || 0) > 1" class="example-additional-selection">
                    (+{{(rules?.length || 0) - 1}} {{rules?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let e of existingRules" [value]="e">{{e.name}}</mat-option>
              </mat-select>
            </mat-form-field>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
          </form>
        </mat-step>
        
        
        <mat-step *ngIf="!editMode">
          <ng-template matStepLabel>Save adventure</ng-template>
          <br>
          <p *ngIf="!showImgUpload">You are done. Confirm to save adventure. Back if you need to correct something. </p>
          <p *ngIf="showImgUpload">Adventure successfuly created! Now you can add photos from previous adventures if you want.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button *ngIf="!showImgUpload" mat-button (click)="createAdventure()">Confirm</button>
            <button *ngIf="showImgUpload" mat-button matStepperNext>Add photos</button>
          </div>
        </mat-step>


       <template *ngIf="showImgUpload || editMode">
        <mat-step [stepControl]="images" label="Previous adventures" optional>
          <form [formGroup]="images">

                <br>

                <input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
          
                <br><br>

              <mat-file-upload-queue #fileUploadQueue
                  [fileAlias]="'file'"
                  [httpUrl]="requestUrl"
                  [httpRequestHeaders]="headers">

                   <mat-file-upload [file]="file" [id]="i" 
                     *ngFor="let file of fileUploadQueue.files; let i = index">
                  </mat-file-upload>
              </mat-file-upload-queue>

              <button mat-button (click)="formEnd()">Save</button>
          </form>
        </mat-step>
       </template>

       
      </mat-stepper>

</div>