<div class="container-fluid h-100 d-flex justify-content-center" style="padding: 0;">
 <div style="position: relative; background-color: yellow; width: 100%; display: block;
     justify-content: center;">
      <img src="../../../../assets/images/calor.jpg" style="width: 100%;" alt="">

        <div style="margin-top: -170px !important; z-index: 1; position: relative; margin-left: auto; margin-right: auto; width: 80%; background-color: aliceblue; " class="jumbotron my-auto">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="About"> 
                
                    <app-adventure-info></app-adventure-info>
                </mat-tab>
                <mat-tab label="Additional info"> 
                    <app-adventure-addtional-info></app-adventure-addtional-info>
                </mat-tab>
                <mat-tab label="Location"> 
                    <p>kinda self-explanatory, innit </p>
                </mat-tab>
                <mat-tab label="Additional Services"> 
                    <p>name and price :)) </p>
                </mat-tab>
                <mat-tab label="Instructor"> 
                    <p>Niko Nikogovic</p>
                    <p>biografijica</p>
                </mat-tab>
                <mat-tab label="Past adventures"> 
                    <p> fotkice </p>
                </mat-tab>
              </mat-tab-group>
        </div>
        <div style="background-color: white; justify-content: center; display: flex;">
        <p>idemoooooooooouououo</p></div>
    </div>
    
</div>