<div id="wrapper" class="container">
    <app-client-sidebar></app-client-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div *ngIf="item" class="containersss">
            <div class="about">
                <mat-card class="example-card">
                    <mat-card-title-group>
                        <mat-card-title>{{item.name}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div>{{item.address.country}},
                                {{item.address.city}},
                                {{item.address.street}},
                                {{item.address.zipCode}}
                            </div>
                            <div>
                                <label *ngIf="item.vacationHomeOwner">Contact:</label>
                                <li>@Email :{{item.vacationHomeOwner.email}}</li>
                                <li>Phone Number : {{item.vacationHomeOwner.phone}}</li>

                            </div>
                            <br>
                            <button mat-raised-button color="primary"
                                style="max-width: fit-content; height: 25px; margin-top:10px" (click)="subscribe()"
                                [disabled]="isSubscribed">Subscribe</button>


                        </mat-card-subtitle>

                        <div class="image-display">
                            <img *ngIf="item.imageUrls" src="{{baseUrl}}{{item.imageUrls[0]}}" class="img1"
                                onerror="this.onerror;this.src='../../../../assets/images/no-img.png'"
                                alt="Image not available">
                        </div>
                    </mat-card-title-group>
                    <mat-card-content>
                        <h4 *ngIf="item.pricePerDay" style="font-size: 30px;">${{ item.pricePerDay }}/day</h4>
                    </mat-card-content>
                    <label style="margin-bottom:5px;">Average rating : </label>
                    <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true" style="margin-left: 5px;">
                    </ngb-rating>

                    <mat-card-content>
                        {{item.description}}
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="moreInfo">

                <mat-card class="wrapper">
                    <div class="box">
                        <mat-card-title>Number of rooms : {{roomsNumber}}</mat-card-title>
                        <mat-card-subtitle>Beds : {{bedsNumber}}</mat-card-subtitle>
                    </div>
                </mat-card>


                <mat-card class="wrapper">
                    <mat-card-title>House rules</mat-card-title>
                    <div class="box">
                        <span *ngFor="let item of item.codeOfConduct; index as i;" class="listing">
                            <label style="font-weight: bold;">{{item.name}}</label>
                        </span>
                    </div>
                </mat-card>

                <mat-card class="wrapper">
                    <mat-card-title>Services/Utilities</mat-card-title>
                    <div class="box">
                        <span *ngFor="let item of item.utilities;" class="listing">
                            <label style="font-weight: bold;">{{item.name}}</label>
                            <h6>- ${{ item.price }}/day</h6>
                        </span>
                    </div>
                </mat-card>

            </div>
            <hr>
            <mat-card class="wrapper">
                <mat-card-title>Availability Period </mat-card-title>
                <div class="box">
                    <span *ngIf="!item.availability"> Currently there are no set availablities for this vacation home
                        !</span>
                    <div *ngIf="item.availability">
                        <span *ngFor="let item of item.availability; index as i;" class="listing">
                            <label style="font-weight: bold;">{{item.startDate | date:"shortDate"}} - {{item.endDate |
                                date:"shortDate"}}, &nbsp; </label>
                        </span>
                    </div>
                </div>
            </mat-card>
            <hr>
            <h2 style="margin-left: 15px; color: blue;">Special Offers</h2>
            <div *ngIf="item.specialOffers">
                <div *ngIf="filteredOffers.length > 0">
                    <div *ngFor="let offer of filteredOffers">
                        <div class="displaySection">
                            <div class="sectionOverflow">
                                <app-adventure-special-offer [rentalId]="item.id" [type]="type" [offer]="offer" class="p-3">
                                </app-adventure-special-offer>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="filteredOffers.length == 0">
                    <h3 style="margin-left: 15px;"> No special offers available.</h3>
                </div>

                
            </div>
            <div *ngIf="!item.specialOffers">
                <h3 style="margin-left: 15px;"> No special offers available.</h3>
            </div>
        </div>
    </div>
</div>