<div id="wrapper">
    <app-admin-sidebar></app-admin-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-admin-topbar (searchInput)="handleMe($event)"></app-admin-topbar>
        <div class="container-fluid">

            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Vacation Homes</h1>
               
            </div>

            <div class="row"  *ngFor="let home of homes | homeSearch : searchText" >
                <app-home-preview [home]="home" 
                (homeDeleted)="homeDeleted($event)"></app-home-preview>
            </div> 
        </div>
    </div>
 </div>