<ul [ngClass]="{'toggled' : toggle}" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-fish"></i>
        </div>
        <div class="sidebar-brand-text mx-3"> Booker <sup>easy&peasy</sup></div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/client/profile']">
            <i class="fa-solid fa-user"></i>
            <span>My profile</span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/client/homes']">
            <i class="fa-solid fa-house"></i>
            <span>Homes</span>
        </a>
    </li>
    <!-- <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/client/browse']">
            <i class="fa-solid fa-house"></i>
            <span>Rentals</span>
        </a>
    </li> -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/client/boats']">
            <i class="fa-solid fa-ship"></i>
            <span>Boats</span>
        </a>
    </li>
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/client/instructors']">
            <i class="fas fa-chalkboard-teacher"></i>
            <span>Instructor Profiles</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ticket" aria-hidden="true"></i>
            <span>Make Reservations</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/client/homes/reservation']">Vacation Homes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/client/boats/reservation']">Boats</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/client/adventures/reservation']">Adventures</a>
        </div>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ticket" aria-hidden="true"></i>
            <span>Reservation History</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/client/homes/history']">Vacation Homes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/client/boats/history']">Boats</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/client/adventures/history']">Adventures History</a>
        </div>
    </li>
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/client/reservations']">
            <i class="fa-solid fa-calendar"></i>
            <span>Upcoming Reservations</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" (click)="logout()" style="cursor:pointer">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Log out</span></a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" (click)="toggleMe()" id="sidebarToggle"></button>
    </div>

</ul>