.wrapper {
    justify-content: center;
    margin: 0;
    display: flex;
    min-height: 160px;
    flex-direction: column;
    align-items: center;
}

.inner {
    padding: 14px;
    width: 70%;
}

.price {
    text-align: right;
}