<ul  [ngClass] = "{'toggled' : toggle}" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-fish"></i>
        </div>
        <div class="sidebar-brand-text mx-3"> Booker <sup>easy&peasy</sup></div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="/boat-owner/dashboard">
            <i class="fa fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
          Services
    </div>

    <!-- <li class="nav-item">
        <a class="nav-link" href="/instructor/services" >
            <i class="fa fa-fw fa-list-check"></i>
            <span>My services</span>
        </a>
    </li> -->
   
  
    <!-- <li class="nav-item">
      <a class="nav-link" href="/instructor/reservations">
          <i class="fa fa-fw fa-ticket"></i>
          <span>Reservations</span></a>
    </li> -->

    <!-- <li class="nav-item">
        <a class="nav-link" href="/instructor/special-offers">
            <i class="fa fa-fw fa-tags"></i>
            <span>Special offers</span></a>
      </li> -->

    <!-- <li class="nav-item">
      <a class="nav-link" href="/instructor/occupancy">
          <i class="fa fa-fw fa-business-time"></i>
          <span>Occupancy</span></a>
    </li> -->


    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Account
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/boat-owner/profile">
            <i class="fas fa-fw fa-user"></i>
            <span>My profile</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" (click)="logout()" style="cursor:pointer">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Log out</span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" (click)="toggleMe()" id="sidebarToggle"></button>
    </div>

</ul>