.description {
    margin: 7px 0 10px 0;
    font-size: 18px;
    line-height: 24px;
}

.title {
    letter-spacing: 1px;
    width: max-content;
}

.people-w {
    text-align: left;
    padding: 10px 0px 0px 20px;
}

.people {
    text-align: right;
}

.wrapper {
    padding: 15px;
    min-height: 160px;
}