.description {
    margin: 7px 0 10px 0;
    font-size: 18px;
    line-height: 24px;
}

.title {
    letter-spacing: 1px;
}

.people {
    text-align: right;
}

.wrapper {
    padding: 15px;
    min-height: 160px;
}