.container {
  display: flex;
  column-gap: 5%;
}

.image {
  max-height: 200px;
  width: 250px;

}


.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.stretch-width {
  width: 100% !important;
}

.fa-star::before {
  color: rgb(241, 207, 11);
  font-size: 20px;
}

.example-margin {
  margin: 2px;
}