table {
    width: 100%;
}


mat-form-field {
    width: 100%;
    padding: 0px 5px 0px 15px;
}

mat-form-field input {
    width: 100%;
}



.strong {
    font-weight: bold;
}

.total {
    padding-right: 6px;
    text-align: end;
}