<div class="searchSection">
    <form class="example-form" (input)="onChangeDemo($event)">
        <mat-form-field class="example-full-width">
            <mat-label>Search anything!</mat-label>
            <input matInput="Search anything!" [(ngModel)]="searchFilter.text" name="something">
        </mat-form-field>
    </form>

    <div style="display: flex;align-items: center;">
        <label margin="0px"> Select rating: </label>
        <mat-slider thumbLabel [displayWith]="formatLabel" (change)="onChangeDemo($event)"
            [(ngModel)]="searchFilter.rating" min="0" max="5" step="1" value="0"></mat-slider>
    </div>

    <div class="column is-2">
        <div class="select">
            <select [(ngModel)]="searchFilter.sort"  (change)="onChangeDemo($event)">
                <option value="NO_SORT">Select sorting:</option>
                <option value="PRICE_LOWER">Price: Lower first</option>
                <option value="PRICE_HIGHER">Price: Higher first</option>
                <option value="RATING_HIGHER">Rating: Higher first</option>
                <option value="RATING_LOWER">Rating: Lower first</option>
                <option value="NAME_ACS">Name: Acsending</option>
                <option value="NAME_DES">Name: Descending</option>
                <option value="ADDR_ACS">Address: Acsending</option>
                <option value="ADDR_DES">Address: Descending</option>
            </select>
        </div>
    </div>

</div>