<router-outlet></router-outlet>
<app-unauthenticated-header></app-unauthenticated-header>
<div *ngIf="item"class="container">
    <div class="about">
        <mat-card class="example-card">
            <mat-card-title-group>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.address}}</mat-card-subtitle>

                <div class="image-display">
                    <img class="img1" src="../../../assets/images/beach-houses.jpg">
                </div>
            </mat-card-title-group>
            <label style="margin-bottom:5px;">Average rating : </label>
            <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true" style="margin-left: 5px;"></ngb-rating>

            <mat-card-content>
                {{item.description}}
            </mat-card-content>
        </mat-card>
    </div>
    <div class="moreInfo">

        <mat-card class="wrapper">
            <div class="box">
            <mat-card-title>Number of rooms - {{roomsNumber}}</mat-card-title>
            <mat-card-subtitle>Beds  - {{bedsNumber}}</mat-card-subtitle>
            </div>
        </mat-card>


        <mat-card class="wrapper">
            <mat-card-title>House rules</mat-card-title>
            <div class="box">
                <li *ngFor="let item of item.codeOfConduct; index as i;">{{item}}</li>
            </div>
        </mat-card>

        <mat-card class="wrapper">
            <mat-card-title>Services</mat-card-title>
            <div class="box">
                <li *ngFor="let item of item.utilities;">{{item}}</li>
            </div>
        </mat-card>

    </div>
    <hr>
    <h2 style="margin-left: 15px; color: blue;">Available Actions</h2>
    <div  *ngFor="let item of item.availableReservations;" >
        <app-reservation-view [action]="item"></app-reservation-view>
    </div>
  
</div>