<div id="wrapper" class="container">
    <app-client-sidebar></app-client-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="card shadow mb-4" style="width: 100%;">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Vacation Home Subscriptions</h6>
            </div>
        </div>
        <div class="displaySection">
            <div class="sectionOverflow">
                <div *ngFor="let item of currentItems">
                    <app-sub-card class="searchCard" [type]="item.rentalType" [name]="item.name" [id]="item.id"
                        [ownerName]="item.owner.email" [address]="item.address" [price]="item.pricePerDay"
                        (clientUnsubscribe)="unsubscribe($event)">
                    </app-sub-card>
                </div>
            </div>
        </div>
    </div>
</div>