<div class="container wrapper">
    <div class = "row ">
        <div class="col-md">
          <div class="row px-2" style="border-right: 1px solid #333;">
            <p class="mx-auto">Fishing equipment:</p>
            <ul class="lists">
                <li><i class="fa-solid fa-angles-right fa-2xs"></i> Fishing rod</li>
                <li><i class="fa-solid fa-angles-right fa-2xs"></i> Fishing hook</li>
            </ul>
        </div>
      </div>
        <div class="col-md">
          <div class="row px-2">
            <p class="mx-auto ">Code of conduct:</p>
            <ul class="lists">
                <li><i class="fa-solid fa-angles-right fa-2xs"></i> Budi dobar</li>
                <li><i class="fa-solid fa-angles-right fa-2xs"></i> Nema drogiranja</li>
            </ul>
        </div>
      </div>
    </div>
</div>