.container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  
}

.about {
  height: 100%;
  width: 100%;
}

.example-card {
  max-width: 100%;
  margin-bottom: 8px;
}

ngb-rating {
  color: rgb(241, 207, 11);
  font-size: 30px;
}

.image-display {
  max-width: 100%;
  max-height: 100%;
}

.img1 {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.moreInfo {
  display: flex;
  height: fit-content;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper {
  border: 2px dotted rgb(96, 139, 168);
  margin: 15px 15px 15px 15px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.box>* {
  flex: 1 1 160px;
  margin: 10px;
}

.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 3px;
  color: darkgray;
  background: white;
  width: 100%;
}
.action {
  display: flex;

}