<router-outlet></router-outlet>
<app-unauthenticated-header></app-unauthenticated-header>
<div class="container">
    <div class="about">
        <mat-card class="example-card">
            <mat-card-title-group>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.address}}</mat-card-subtitle>

                <div class="image-display">
                    <img class="img1" src="../../../assets/images/beach-houses.jpg">
                </div>
            </mat-card-title-group>
            <label style="margin-bottom:5px;">Average rating : </label>
            <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true" style="margin-left: 5px;"></ngb-rating>

            <mat-card-content>
                {{item.description}}
            </mat-card-content>
        </mat-card>
    </div>
</div>