<div class="container wrapper">
    <div class="row">
      <h6>Owner takes {{ boat.cancelingPercentage }}% of the price in case of canceling. </h6>
    </div>
    <br>
      <div class = "row ">
          <div class="col-md">
            <div class="row px-2" style="border-right: 1px solid #333;">
            <p  *ngIf="!boat.fishingEquipment" class="mx-auto">No fishing equipment provided.</p>
             <div *ngIf="boat.fishingEquipment">
              <p  class="mx-auto">Fishing equipment:</p>
              <ul class="lists">
                  <li *ngFor="let fe of boat.fishingEquipment"><i class="fa-solid fa-angles-right fa-2xs"></i>  {{ fe.name }} </li>
              </ul>
             </div>
          </div>
        </div>
          <div class="col-md">
            <div class="row px-2">
              <p *ngIf= "!boat.codeOfConduct" class="mx-auto ">No rules of conduct specified.</p>
             <div *ngIf= "boat.codeOfConduct">
              <p class="mx-auto ">Code of conduct:</p>
              <ul class="lists">
                  <li *ngFor="let fe of boat.codeOfConduct"><i class="fa-solid fa-angles-right fa-2xs"></i> {{ fe.name }} </li>
              </ul>
             </div>
          </div>
        </div>
        <div class="col-md">
            <div class="row px-2">
              <p *ngIf= "!boat.navigationTypes" class="mx-auto ">No navigation specified.</p>
             <div *ngIf= "boat.navigationTypes">
              <p class="mx-auto ">Navigation :</p>
              <ul class="lists">
                  <li *ngFor="let fe of boat.navigationTypes"><i class="fa-solid fa-angles-right fa-2xs"></i> {{ fe }} </li>
              </ul>
             </div>
          </div>
        </div>
      </div>
  </div>