<mat-card style="width: 100%; margin-bottom: 10px;" >
    
    <div class="row">

        <div class="col-md-12 mhe" >
            <div class="row p-2 main-row">
                <div class="col-6 col-md-4 mhe" (click)="openDetailed()">
                    <img src="{{baseUrl}}{{boat.images[0]}}" class="img" onerror="this.onerror;this.src='../../../../assets/images/no-img.png'" alt="Image not available">                    
                </div>
                <div class="col-12 col-md-8 mhe">
                    
                    <div class = "row " style="height: 25%;">
                        <div class="col-md-8 d-flex" (click)="openDetailed()">
                            <h2 class="title"> {{ boat.name }}</h2>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end pt-2">
                            <i class="fa-solid fa-calendar fa-lg icons" (click)="openCalendar()"></i>
                            <i class="fa-solid fa-pencil fa-lg icons" (click)="edit()"></i>
                            <i class="fa-solid fa-trash fa-lg icons" (click)="delete()"></i>
                        </div>
                    </div>
                  
                  <div class="row"  style="height: 60%;" (click)="openDetailed()">
                    <div class="col-lg-12 col-md-12 description"> {{ boat.description }} <br> 
                        Max number of guests: {{ boat.guestLimit}} 
                    </div>
                  </div>
                  <div class="row align-items-end" style="height: 15%;" >
                    <div class="col-md-8">
                        <h5 class="m-0"> {{ boat.address.street }}, {{ boat.address.city }}, {{ boat.address.country }} {{boat.address.zipCode }}</h5>
                    </div>
                    <div class="col-md-4"> <h5 class="people taller m-0" > {{boat.pricePerDay }} <i class="fa-solid fa-euro-sign fa-md"></i></h5> </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>